@import '../../App.scss';

.wrapper {
  flex-direction: row;
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}

.wrapper:hover {
  background-color: $testBirdsGreen;
}

.avatar {
  display: block;
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
  line-height: normal;
  position: relative;
  cursor: pointer;
}

.avatar-image {
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  object-fit: cover;
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  border: 1px solid transparent;
}

.cancel-button {
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  display: flex;
  border: 1px solid transparent;
}

.cancel-button:hover {
  border: 1px solid #FC7440;
  // border-style: inset;
}