@import "../../App.scss";

.wrapper-inner-card {
  flex-direction: row;
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.wrapper-inner-card:hover {
  background-color: $testBirdsGreen;
}

.avatar {
  display: block;
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
  line-height: normal;
  position: relative;
  cursor: pointer;
}

.avatar-image {
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  object-fit: cover;
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  border: 1px solid transparent;
}
