$testBirdsGreen: #e2f4ea;

.GeneralContainer {
  flex: 1;
  justify-content: center;
  margin-top: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 768px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-top: 3px solid green;
  padding: 20px;
  position: relative;
}

.Container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.title {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.64);
  font-weight: 600;
}

.plus-button {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #e2f4ea;
  height: 40px;
  width: 40px;
  color: #007672;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  display: flex;
}

.more-button {
  display: flex;
  margin-bottom: -20px;
  margin-left: -20px;
  margin-right: -20px;
  height: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  background-color: $testBirdsGreen;
}

.wrapper-add {
  flex-direction: row;
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}

.wrapper-add:hover {
  background-color: $testBirdsGreen;
  .plus-button {
    background-color: white;
  }
}

/* autosuggestion classes */
body {
  font-family: "Droid Sans", sans-serif;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  min-width: 250px;
  width: 100%;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 2px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  /* padding: 10px 20px; */
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

@media (max-width: 750px) {
  .Container {
    grid-template-columns: repeat(1, 1fr);
  }

  .teamPageText {
    display: none;
  }
}
